name: Publish Package to npmjs

on:
  push:
    if: github.ref_name == 'main'
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          cache: npm
          node-version: latest

      - name: Install dependencies
        run: bun ci --ignore-scripts

      - name: Build package
        run: bun run build

      - name: Publish package
        run: npm publish --provenance
