name: Publish Package to npmjs

on:
  push:
    if: github.ref_name == 'main'
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          cache: npm
          node-version: latest

      - name: Install dependencies
        run: npm ci --no-audit --no-fund

      - name: Build package
        run: npm run build

      - name: Publish package
        run: npm publish --provenance
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
